<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <!-- Icon -->
    <link rel="shortcut icon" href="{{url_for('static', filename='img/icon.ico')}}">
    
    <title>TOC Generator</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col">
          <form method="POST" action=".">
            <div class="mb-3">
              <label for="textarea1" class="form-label">Markdown text</label>
              <textarea class="form-control" rows="{{rows}}" id="textarea1" name="text" placeholder="Type your markdown here">{% if input %}{{input}}{% endif %}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col">
          <form>
            <div class="mb-3">
              <label for="textarea2" class="form-label">Result</label>
              <textarea class="form-control" id="textarea2" rows="{{rows}}" placeholder="Table of contents">{% if result %}{{result}}{% endif %}</textarea>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- Popper.js first, then Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  </body>
</html>